Basic usage read cif and write poscar. between read and write one can do modification of the structure. For example, one can add or remove a new atom. Or modify the symmetry relations

In [ ]:
from rsc.cif_to_poscar import CIF_to_POSCAR

fluorite = CIF_to_POSCAR('./CIF/Er2Zr2O7_Fluor_300K.cif','OUT/standard/')
# access the attributes of fluorite for example: fluorite.df to deal with atom_site data
fluorite.write_POSCAR()

No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 16, 'O': 56, 'Zr': 16} _________

In [2]:
from rsc.cif_to_poscar import CIF_to_POSCAR
import numpy as np
import os

fluorite = CIF_to_POSCAR('./CIF/Er2Zr2O7_Fluor_300K.cif','OUT/standard/')

for i in np.arange(0.4, 1, 0.1): # example to create a series of poscar files with different occupancies
    try: 
        os.mkdir(f'OUT/standard/{i}')
    except FileExistsError:
        pass
    fluorite = CIF_to_POSCAR('./CIF/Er2Zr2O7_Fluor_300K.cif',f'OUT/standard/{i}')
    fluorite.df.loc[fluorite.df.site == '4a', 'occupancy'] = i
    fluorite.write_POSCAR()

No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 13, 'O': 56, 'Zr': 13} _________
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 16, 'O': 56, 'Zr': 16} _________
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 16, 'O': 56, 'Zr': 16} _________
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 16, 'O': 56, 'Zr': 16} _________
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 15, 'O': 56, 'Zr': 17} _________
No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------
Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 16, 'O': 56, 'Zr': 16} _________

### Modify values before saving

In [17]:
from rsc.cif_to_poscar import CIF_to_POSCAR

fluorite = CIF_to_POSCAR('./CIF/Er2Zr2O7_Fluor_300K.cif','OUT/')

fluorite.df

No of atoms: 16, less than 50 extending cell
No of atoms: 128
-------------------

,label,type_symbol,symmetry_multiplicity,fract_x,fract_y,fract_z,occupancy,B_iso_or_equiv,site
0,Lu4a,Lu,32,0,0,0,0.500,1.69(7),4a
1,Zr4a,Zr,32,0,0,0,0.500,1.69(7),4a
2,O8c,O,64,0.25,0.25,0.25,0.875,3.39(9),8c

In [19]:
# change the occupancy of the first site
fluorite.df.loc[fluorite.df.site == '4a', 'occupancy'] = 0.666

In [20]:
fluorite.df

,label,type_symbol,symmetry_multiplicity,fract_x,fract_y,fract_z,occupancy,B_iso_or_equiv,site
0,Lu4a,Lu,32,0,0,0,0.666,1.69(7),4a
1,Zr4a,Zr,32,0,0,0,0.666,1.69(7),4a
2,O8c,O,64,0.25,0.25,0.25,0.875,3.39(9),8c

In [21]:
fluorite.write_POSCAR()

Atoms: O site 8c is under occupied 0.875
____________Counts {'Lu': 15, 'O': 56, 'Zr': 17} _________